<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input
            type="number"
            style="width: 100px"
            class="input"
            placeholder="Amount"
            name="amount"
            [ngModel]="item.amount"
            required
          />
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input
            type="text"
            class="input"
            placeholder="Description"
            name="description"
            [ngModel]="item.description"
            required
          />
        </p>
      </div>
      <div class="field is-narrow">
        <button
          class="button is-primary"
          type="submit"
          [disabled]="itemForm.invalid"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</form>
