<div class="top-bar">
  <h1>Budget Calculator</h1>
</div>

<section class="total-budget-section">
  <h2 [ngClass]="{ green: calculatedBudget >= 0, red: calculatedBudget < 0 }">
    {{ calculatedBudget }}
  </h2>
</section>

<section class="add-item-section">
  <div class="add-item-container">
    <app-add-item-form style="padding: 20px"></app-add-item-form>
  </div>
</section>
<hr style="margin-top: 0" />
<app-budget-item-list
  [income]="income"
  [expenses]="expenses"
></app-budget-item-list>
